/RC_PPE2035_S0_deboucle

#deps and config
Manifest.toml

#temp and cache
.ipynb_checkpoints/

#test results

#ignored data directories

#log and dbg files
*pscopf_out*
default_out
*.lp
*.sol
*.log
/data_matpower/*/pscopf_ptdf.txt

#build directories
/docs/build

*output*
