/RC_PPE2035_S0_deboucle

#temp and cache
.ipynb_checkpoints/


#ignored data directories
data/*
!data/dmo
!data/2ech
!data/data_slack/*/base
!data/random_generation/

#log and dbg files
*.lp
*.sol
*.log

#build directories
/docs/build